---
import { Image } from 'astro:assets';
import Mountain from '../assets/images/2027/snowcapped-mountain.svg';
import Slopes from '../assets/images/2027/ski-slopes.png';

interface HeroProps {
    title: string;
    subtitle: string;
}

const { title, subtitle } = Astro.props;
---
<div class="@container bg-linear-to-b from-sky-500 to-sky-100">
    <!-- TODO: mobile styling -->
    <div class="flex w-full h-full justify-center">
        <div class="flex w-full gap-16 lg:gap-24 justify-center absolute translate-y-9/4 md:translate-y-7/4 xl:translate-y-9/4 z-1">
            <h1 class="font-clouds font-bold text-5xl md:text-8xl lg:text-[8rem] xl:text-12xl text-sky-50 uppercase text-shadow-slate-900 text-shadow-sm cloud-text cloud-right">{title}</h1>
            <h1 class="font-clouds font-bold text-5xl md:text-8xl lg:text-[8rem] xl:text-12xl text-sky-50 uppercase text-shadow-slate-900 text-shadow-sm cloud-text cloud-left">{subtitle}</h1>
        </div>
        <Mountain style="z-index: 2;" class="mt-16 md:mt-24 lg:mt-28" />
    </div>
    <Image src={Slopes} alt="Vector of ski slopes" class="absolute top-0 z-3 lg:-translate-y-4" />
</div>

<style>
.cloud-text {
    -webkit-text-stroke: 1px #000;
}
.cloud-right {
    transform: perspective(20rem) rotateY(20deg) skewX(-15deg);
    transform-origin: left center;
}
.cloud-left {
    transform: perspective(20rem) rotateY(-20deg) skewX(-15deg);
    transform-origin: right center;
}
</style>
